$shadow-color: #2D2254;

@media (min-width: 576px) {
    nav > ul {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    nav > ul {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    nav > ul {
        max-width: 1140px;
    }
}

nav {
    background:#E5CE9A;
    ul {
        margin: auto;
    }
}

.container {
    padding: 20px;
}

.reminder {
    text-align: center;
}

.form {
    text-align: center;
    border: solid #BECBDD 3px;
    padding: 15px;
    .btn {
        margin-left: 15px;
    }
}

.form-control {
    width: 50%;
    margin: auto;
    display: inline;
}

.comment {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    background:  #BECBDD;
    box-shadow: $shadow-color  0 1px 3px;
    position: relative;
}

.comment__author {
    border-right: solid $shadow-color 0.5px;
}

.comment__content {
    border-right: solid $shadow-color 0.5px;
}

.sub-comments {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.sub-comment {
    background:#EBEBEB;
    margin-top: 8px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    .btn {
        margin-right: 10px;
    }
}

.sub-comment__author {
    border-right: solid gray 0.5px;
}


.by-author {
    background-color: #F7EBD2;
}

.delete-comment {
    font-size: 1.2rem;
    color: gray;
    display: inline-block;
    cursor: pointer;
}

.edit-button > i {
    font-size: 1.2rem;
    color: gray;
    display: inline-block;
}

.page {
    text-align: center;
    margin-top: 1.5rem;
    ul{
        display: inline-block;
        text-align: center;
        li {
            display: inline-block;
        }
    } 
}