* {
    font-family: '微軟正黑體';
    margin: auto;
}
.title {
    margin: 10px;
}

.content {
    width: 600px;
    border: 1px solid black;
    margin: 10px;
}

.message {
    list-style-type: none;
    padding: 10px;
    border-bottom: 0.5px black solid;
}

.message_form {
    margin: 20px 10px;
}

.message_input {
    width:400px;
    border: 1px solid black;
}


