.container {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    text-align: center;

}
.col {
    display: inline-block;
    background-color:#FFD800;
    box-sizing: border-box;
    border-radius: 2px;;
    border: black 1px solid;
    padding: 2px;
    font-size: 24px;
}

.col-1 { width: calc(100%/12); }
.col-2 { width: calc((100%/12)*2); }
.col-3 { width: calc((100%/12)*3); }
.col-4 { width: calc((100%/12)*4); }
.col-5 { width: calc((100%/12)*5); }
.col-6 { width: calc((100%/12)*6); }
.col-7 { width: calc((100%/12)*7); }
.col-8 { width: calc((100%/12)*8); }
.col-9 { width: calc((100%/12)*9); }
.col-10 { width: calc((100%/12)*10); }
.col-11 { width: calc((100%/12)*11); }
.col-12 { width: 100%}

@media only screen and (max-width: 768px) {
    .col-1 { width: 100% }
    .col-2 { width: 100% }
    .col-3 { width: 100% }
    .col-4 { width: 100% }
    .col-5 { width: 100% }
    .col-6 { width: 100% }
    .col-7 { width: 100% }
    .col-8 { width: 100% }
    .col-9 { width: 100% }
    .col-10 { width: 100% } 
    .col-11 { width: 100% }
    .col-12 { width: 100% }

}

